<div class="box">
  <article class="media">
    <div class="media-left">
  
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= reply.user.email %></strong> <small><%= time_ago_in_words(reply.created_at) %></small>
          <br/>
          <%= reply.reply %>
        </p>
      </div>
    <%if reply_author(reply)%>

    <div class="mb3">
    <%= link_to edit_discussion_reply_path(reply.discussion, reply) do%> 
  <button type="button"  class="btn btn-sm btn-outline-secondary">Edit</button>
  <%end%>

 </div>

        <%= button_to "Destroy this reply", [reply.discussion, reply], method: :delete , class: "btn btn-primary"%>
    <%end%>
      
   