<div class="box">
  <article class="media">
    <div class="media-left">
  
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= reply.user.email %></strong> <small><%= time_ago_in_words(reply.created_at) %></small>
          <br/>
          <%= reply.reply %>
        </p>
      </div>

        <%= link_to "Edit reply", edit_discussion_reply_path(reply.discussion, reply)%>
        <%= button_to "Destroy this reply", [reply.discussion, reply], method: :delete %>
       
        
      
   