
<%= render @discussion %>

<div id="<%= dom_id @discussion %>">
  <p class="text-break">
    <strong>Content:</strong>
    <%= @discussion.content %>
  </p>
      <hr />
 <%= link_to "Back to discussions", discussions_path %>
<% if discussion_author(@discussion) %>
<div>

  <%= link_to "Edit this discussion", edit_discussion_path(@discussion) %> |
    <%= button_to "Destroy this discussion", @discussion, method: :delete %>

</div>
<% end %>


</div>

    <h2 class="subtitle is-5 has-text-grey"><%= @discussion.replies.count %> Replies</h2>

    <div id="discussion-replies">
      <%= render @discussion.replies %>
    </div>

    <hr />
     <%= render 'replies/form' %>
