
<div id="<%= dom_id @discussion %>">
  <p class="text-break">
    <strong>Title:</strong>
    <%= @discussion.title %>
    <hr />

      <%= @discussion.content %>
  </p>
      <hr />
 
 <div class="btn-group">
 <%= link_to discussions_path do%> 
   <button type="button"  class="btn btn-sm btn-outline-secondary">Back to discussions</button>
   <%end%>
          </div>

<% if discussion_author(@discussion) %>

  <div class="mb3">
  
  <%= link_to edit_discussion_path(@discussion) do%> 
  <button type="button"  class="btn btn-sm btn-outline-secondary">Edit</button>
  <%end%>

  <hr />
  <%= button_to "Destroy this discussion", @discussion, method: :delete, class: "btn btn-primary" %>

</div>
<% end %>


</div>

    <h2 class="subtitle is-5 has-text-grey"> Replies</h2>

    <div id="discussion-replies">
      <%= render @discussion.replies %>
    </div>

    <hr />
     <%= render 'replies/form' %>
